In [3]:
import pandas as pd 
import numpy as np 
import os

In [2]:
url = "/home/flavio/OneDrive/NLeSC/Projects/2024_life2vec/stakeholders/CBS/exports/2024-05-14/data/llm"

In [9]:
files = os.walk(url)
for f in files:
    print(f)

('/home/flavio/OneDrive/NLeSC/Projects/2024_life2vec/stakeholders/CBS/exports/2024-05-14/data/llm', ['income_yearly', 'job_yearly'], ['jobs_full_duration_meta.txt', 'divorce_info_good_format_covariance.csv', 'education_info_good_format_covariance.csv', 'background_columns.csv', 'background_meta.txt', 'education_info_good_format_columns.csv', 'new_death_info_good_format_meta.txt', 'divorce_info_good_format_meta.txt', 'new_death_info_good_format_columns.csv', 'jobs_full_duration_covariance.csv', 'new_death_info_good_format_covariance.csv', 'divorce_info_good_format_columns.csv', 'jobs_full_duration_columns.csv', 'background_covariance.csv', 'education_info_good_format_meta.txt'])
('/home/flavio/OneDrive/NLeSC/Projects/2024_life2vec/stakeholders/CBS/exports/2024-05-14/data/llm/income_yearly', [], ['income_17_columns.csv', 'income_16_columns.csv', 'income_15_covariance.csv', 'income_18_covariance.csv', 'income_20_meta.txt', 'income_21_columns.csv', 'income_15_columns.csv', 'income_13_columns.csv', 'income_15_meta.txt', 'income_17_meta.txt', 'income_18_columns.csv', 'income_17_covariance.csv', 'income_13_covariance.csv', 'income_19_columns.csv', 'income_19_covariance.csv', 'income_20_columns.csv', 'income_13_meta.txt', 'income_14_columns.csv', 'income_21_meta.txt', 'income_19_meta.txt', 'income_14_meta.txt', 'income_21_covariance.csv', 'income_14_covariance.csv', 'income_18_meta.txt', 'income_16_covariance.csv', 'income_20_covariance.csv', 'income_16_meta.txt'])
('/home/flavio/OneDrive/NLeSC/Projects/2024_life2vec/stakeholders/CBS/exports/2024-05-14/data/llm/job_yearly', [], ['paycheck_2020_covariance.csv', 'paycheck_2012_columns.csv', 'paycheck_2018_covariance.csv', 'paycheck_2014_columns.csv', 'paycheck_2020_meta.txt', 'paycheck_2017_columns.csv', 'paycheck_2013_columns.csv', 'paycheck_2022_meta.txt', 'paycheck_2021_meta.txt', 'paycheck_2013_meta.txt', 'paycheck_2015_meta.txt', 'paycheck_2019_meta.txt', 'paycheck_2015_covariance.csv', 'paycheck_2018_meta.txt', 'paycheck_2016_columns.csv', 'paycheck_2023_columns.csv', 'paycheck_2016_meta.txt', 'paycheck_2017_meta.txt', 'paycheck_2022_columns.csv', 'paycheck_2021_covariance.csv', 'paycheck_2021_columns.csv', 'paycheck_2018_columns.csv', 'paycheck_2012_meta.txt', 'paycheck_2019_covariance.csv', 'paycheck_2015_columns.csv', 'paycheck_2020_columns.csv', 'paycheck_2023_meta.txt', 'paycheck_2022_covariance.csv', 'paycheck_2016_covariance.csv', 'paycheck_2013_covariance.csv', 'paycheck_2012_covariance.csv', 'paycheck_2014_meta.txt', 'paycheck_2014_covariance.csv', 'paycheck_2019_columns.csv', 'paycheck_2017_covariance.csv', 'paycheck_2023_covariance.csv'])

In [10]:
current_file = "jobs_full_duration"
meta = current_file + "_meta.txt"
covariance = current_file + "_covariance.csv"
columns = current_file + "_columns.csv"

In [14]:
d_cols = pd.read_csv(os.path.join(url, columns))
d_cols.head()

,variable_name,median,mean,std_dev,10th_percentile,90th_percentile,q1,q3,null_fraction,category_top_0,category_top_1,category_top_2,category_top_3,category_top_4,_others
0,age,28.0,28.692786,5.121164,22.0,36.0,25.0,32.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
1,daysSinceFirstEvent,16076.0,16261.625102,1452.578314,14397.0,18507.0,14977.0,17472.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2,contractType2,1.0,1.685221,0.945901,1.0,3.0,1.0,3.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,sicknessInsurance2,1.0,1.036220,0.186836,1.0,1.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,fullTime2,2.0,1.593243,0.491229,1.0,2.0,1.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
for idx, row in d_cols.iterrows():
    print(row["variable_name"])

age
daysSinceFirstEvent
contractType2
sicknessInsurance2
fullTime2
sector2
industry2
jobType2
empRelationship2
begOrEnd